
 body {
    font-family:Arial sans-serif Verdana;
}
.menu {
    width: 980px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border:0px solid #000;
}
.menu_ind {
    width: 710px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border:0px solid #000;
}
.menu_inner {
    width: 100%;
    height: 45px;
    float:left;
    border:0px solid #000;
}
.logo {
    width: 14%;
    height: 45px;
    float:left;
    border:0px solid #000;
    text-align:left;
    margin-left:0px;
}
.menu_main {
    width: 85%;
    height: 40px;
    float:right;
    border:0px solid #000;
     text-align:right;
     margin-top:5px;
}

.header
{
    
    width: 100%;
    height: 90px;
    background-color: rgb(243,243,243);
    float:left;
    margin-top:10px;

  }
.header1 {
   width: 980px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border:0px solid #000;
     margin-top:30px;
}
.header2 {
   width: 100%;
    height: 45px;
    float:left;
    border:0px solid #000;
}
.pre_h
{
    
    width: 100%;
    height: 150px;
    background-color: rgb(243,243,243);
    float:left;
    margin-top:10px;

  }

.footer {
    width: 100%;
    height: 200px;
    background-color: rgb(51,51,51);
    float:left;
    margin-top:40px;
}
.footer1 {
    width: 500px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
     border:0px solid #fff;
     margin-top:40px
}
.footer2 {
    width: 500px;
    height: 40px;
    float: left;
    border: 0px solid #fff;
    margin-top: 0px;
    text-align: center;
}
     

.sp1 {
    color: white;
    text-align: center;
     font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Light","Helvetica Neue," Helvetica,Arial,sans-serif;

}
.page_title {
    color: #333;
   text-align:left;
   font-size:36px;
   margin-top:15px;
   font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Light","Helvetica Neue," Helvetica,Arial,sans-serif;
font-weight: 300;
display:block;

}

.page_title22 {
    color: #333;
   text-align:left;
   font-size:20px;
   margin-top:15px;
   font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Light","Helvetica Neue," Helvetica,Arial,sans-serif;
font-weight: 300;
display:block;

}
.page_title1 {
    color: #333;
   
   font-size:20px;
   margin-top:15px;
   font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Light","Helvetica Neue," Helvetica,Arial,sans-serif;
font-weight: 300;
display:block;

}
.per {
    margin-top: 20px;
    float: left;
    width: 100%;
}
.per11 {
    margin-top: 20px;
    float: right;
    width: 100%;
}
.perso {
    color: #333;
   text-align:left;
   font-size:25px;
   margin-top:15px;
   font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Light","Helvetica Neue," Helvetica,Arial,sans-serif;
font-weight: 300;
display:block;

}
.perso_ind {
    color: #333;
   text-align:left;
   font-size:45px;
   margin-top:5px;
   font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Light","Helvetica Neue," Helvetica,Arial,sans-serif;
font-weight: 300;
display:block;


}
.chan {
    color: #333;
   text-align:left;
   font-size:30px;
   margin-top:15px;
   font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Light","Helvetica Neue," Helvetica,Arial,sans-serif;
font-weight: 300;
display:block;

}
.place {
    min-height: 500px;
}
.a1 {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.a5 {
    color: #3cf;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.a2 {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.a3 {
    color: #3cf;
    font-size: 20px;
    text-decoration: none;
    padding-top: 5px;
    margin-top:5px;
}
.chan1 {
    color: #3cf;
    font-size: 16px;
    text-decoration: none;
    padding-top: 0px;
    margin-top:0px;
}
.content {
   width: 980px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border:0px solid #000;
     margin-top:0px;
}
.content_ind {
   width: 710px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border:0px solid #000;
     margin-top:0px;
}
.content_inner {
   width: 100%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:30px;
     min-height:500px;
}
.content_inner1 {
   width: 100%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:30px;
     min-height:500px;
}
.dashboard44 {
   width: 100%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:0px;
}
.dashboard55 {
   width: 100%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:20px;
}
.dashboard {
   width: 60%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:0px;
}
.dashbaord11 {
    width: 40%;
    height: auto;
    float:right;
    border:0px solid #000;
     margin-top:0px;
     text-align:center;
}
.taboco {
   width: 100%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:-78px;
}
.taboco1 {
   width: 100%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:-78px;
}
.taboco11 {
   width: 100%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:10px;
}
.taboco2 {
   width: 60%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:0px;
}
.taboco3 {
   width: 40%;
    height: 50px;
    float:right;
    border:0px solid #000;
     margin-top:0px;
     text-align:right;
}
 .welcome {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 3.6em;
    font-weight: normal;
    padding-bottom: 0.08em;
    text-align:center;
    color:#333;
}
 .the {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 2.0em;
    font-weight: normal;
    padding-bottom: 0.08em;
  text-decoration:none;
    color:#333;
    text-align:left;
    line-height:35px;
        
}
 .recip
 {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 2.3em;
    font-weight: normal;
   
    text-align:center;
    color:#333;
}
 .dashboard2 {
   width: 720px;
    
   margin-left: auto;
    margin-right: auto;
    border:1px solid #ebebeb;
     height:355px;
     border-radius:8px;
     box-shadow:3px 3px #ebebeb;

}
 .dashboard2q {
   width: 720px;
    
   margin-left: auto;
    margin-right: auto;
    border:1px solid #ebebeb;
     
     border-radius:8px;
     box-shadow:3px 3px #ebebeb;

}
 .dashboard2left {
   width: 300px;
    
  float:left;
   margin-left:30px;
    border:1px solid #ebebeb;
     margin-top:30px;
     height:158px;
     border-radius:8px;
     background-color:rgb(243,243,243);
}
 .dashboard2r1 {
   width: 347px;
float: left;
margin-left: 30px;
margin-top: 30px;
height: 158px;
font-size: 13px;
}
 .dashboard2left1 {
   width: 300px;
    
  float:left;
   margin-left:30px;
    border:0px solid #000;
     margin-top:30px;
     height:120px;
     border-radius:8px;
    
}

 .dashboard2left1gm {
   width: 140px;
    
  float:left;
   margin-left:25px;
    border:0px solid #000;
     margin-top:20px;
     height:120px;
     border-radius:8px;
    
}

 .cross {
   width: 70px;
    
  float:left;
  
    border:0px solid #000;
     margin-top:5px;
     height:120px;
     border-radius:8px;
     margin-left:5px;
    
}

 .cross44 {
   width: 70px;
    
  float:left;
  
    border:0px solid #000;
     margin-top:5px;
     height:120px;
     border-radius:8px;
     margin-left:5px;
    
}

 .cross1 {
   width: 110px;
    
  float:left;
  
    border:0px solid #000;
     margin-top:5px;
     height:120px;
     border-radius:8px;
    
}
 .small_arrow {
   width: 15px;
    
  float:right;
  
    border:0px solid #000;
     margin-top:45px;
     height:120px;
     border-radius:8px;
     margin-left:10px;
    
}
 .dashboard2left2 {
   width: 135px;
    
  float:right;
   margin-left:0px;
    border:0px solid #000;
     margin-top:20px;
     height:120px;
     border-radius:8px;
    
}
 .dashboard2right {
   width: 290px;
    
  float:right;
   margin-right:30px;
    border:0px solid #ebebeb;
     margin-top:30px;
     height:158px;
     border-radius:8px;
     text-align:right;
}
 .arrow
 {
     width: 89%;
    padding-bottom: 0px;
    text-align:right;
    color:#333;
    margin-top:-30px;
}
.dash_btn {
    background: #3cf;
    border-radius: 1em;
    font-size: 50px;
    font-weight: bold;
    height: 2em;
    line-height: 1.95em;
  color:white;
   
    text-align: center;
    cursor:pointer;
    border:0px;
    z-index: 2;
}
.dash_btn_ind {
    background: #3cf;
    border-radius: 1.70em;
    font-size: 35px;
    font-weight: bold;
    height: 2em;
    line-height: 1em;
  color:white;
   
    text-align: center;
    cursor:pointer;
    border:0px;
    z-index: 2;
}
.dash_btn2 {
    background: #3cf;
    border-radius: 1em;
    font-size: 30px;
    font-weight: bold;
    height: 2em;
    line-height: 1.95em;
  color:white;
   
    text-align: center;
    border:0px;
    z-index: 2;
    cursor:pointer;
    border:0px;
}
.dashboard3 {
   width: 680px;
    
   float:left;
    border:0px solid #ebebeb;
     margin-top:0px;
     height:auto;
     margin-left:20px;
     margin-right:20px;
    
}
.h3
 {
   clear: both;
font-size: 38px;
font-weight: bold;
line-height: 1.2;
padding-top: 0.4em;
 font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
   
    text-align:left;
    color:#333;
}
.dashboard31 {
   width: 220px;
    
   float:left;
    border:0px solid #ebebeb;
     margin-top:0px;
     height:auto;
     margin-left:0px;
     margin-right:00px;
    
}
.dashboard32 {
   width: 220px;
    
   float:right;
    border:0px solid #ebebeb;
     margin-top:0px;
     height:auto;
     margin-left:0px;
     margin-right:00px;
     text-align:right;
    
}
.h4
 {
  
font-size: 22px;
font-weight: normal;
line-height: 1.2;

 font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
   
    
    color:rgb(225,225,225);
}
.browse {
    background: #3cf;
    border-radius: 1em;
    font-size: 18px;
   text-decoration:none;
   padding-top:5px;
  font-weight: bold;
  color:white;
   font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    text-align: center;
    border-radius:4px;
    z-index: 2;
    border:0px;
}
.browse1 {
    background: #3cf;
    border-radius: 1em;
    font-size: 18px;
   text-decoration:none;
   padding-top:5px;
  font-weight: bold;
  color:white;
   font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    text-align: center;
    border-radius:4px;
    z-index: 2;
    margin-right:20px;
}
.signbox {
    width: 500px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ebebeb;
    font-size:20px;

}
.search {
   
    padding-left: 10px;
    border: 1px solid #ebebeb;
    font-size:40px;
    color:rgb(243,243,243);
    font-weight: bold;
    

}
.recipe
{
    
   width: 100%;
    height: 80px;
    float:left;
    border:0px solid #000;
     margin-top:0px;
}
.recipe1
{
    
   width: 700px;
     height: 80px;
    float:left;
    border:0px solid #000;
     margin-top:0px;
}
.recipe2
{
    
   width: 200px;
    height: 80px;
    float:right;
    border:0px solid #000;
     margin-top:0px;
     margin-right:0px;

}
.feature
{
    
   width: 100%;
    height: 55px;
    float:left;
    border:0px solid #000;
     margin-top:20px;
       background-color: rgb(243,243,243);
}
.feature1 {
    color: #888;
  
   font-size:25px;
   margin-top:15px;
   font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Light","Helvetica Neue," Helvetica,Arial,sans-serif;
font-weight: 300;
display:block;
padding-left:10px; padding-top:0px;

}
.feature2
{
    
   width: 500px;
     
    float:left;
    border:0px solid #000;
     margin-top:0px;
}
.feature3
{
    
   width: 200px;
   
    float:right;
    border:0px solid #000;
     margin-top:0px;
     margin-right:10px;text-align:right;

}
.taps1
{
    
   width: 100%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:20px;
      
}
.taps2
{
    
   width: 625px;
       height: 158px;
    float:right;
    border:0px solid #000;
     margin-top:0px;
}
.taps3
{
    
   width: 310px;
     height: 158px;
    float:left;
   
     margin-top:0px;
    border: 1px solid #ebebeb;
background: #f3f3f3;

-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;
border-radius: 8px;
}
.taps4
{
    
   width: 515px;
       height: 158px;
    float:left;
    border:0px solid #000;
     margin-top:0px;
}
.taps5 {
    background-position: center center;
    width: 70px;
    height: 70px;
    float: right;
    border: 1px solid #ebebeb;
    margin-top: 30px;
    background: #f3f3f3;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background-image: url('../image/arrow.png');
    background-repeat: no-repeat;background-position-x:center;
    background-position-y:center;
}
.border {
    margin-top: 15px;
    margin-bottom: 0px;
    height: 1px;
    background-color: #f3f3f3;
    width: 100%;
    float: left;
}
.border1 {
    margin-top: 15px;
    margin-bottom: 0px;
    height: 1px;
    background-color: #f3f3f3;
    width: 980px;
    float: left;
}
.top {
    margin-top: 20px;
    float: left;
}

.gmail
{
    
   width: 100%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:20px;
      
}

.gmail1
{
    
   width: 645px;
       height: 158px;
    float:left;
    border:0px solid #000;
     margin-top:0px;
}
.gmail2
{
    
   width: 310px;
     height: 158px;
    float:left;
   
     margin-top:0px;
    border: 1px solid #ebebeb;
background: #f3f3f3;

-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;
border-radius: 8px;
}
.maingm {
    width: 335px;
    height: auto;
    float: left;
    margin-top: 0px;
    text-align:left;
    
}
.follow {
    color: black;
    font-size: 12px;
    font-weight:bold;line-height:20px; 
    padding-bottom:0px;
    text-decoration:none;
}
.week {
    color: black;
    font-size: 18px;
    font-weight:bold;
    padding-bottom:0px;
    text-decoration:none;
    margin-top:0px;
}




.gmail3
{
    
   width: 300px;
     height: 158px;
    float:left;
   
     margin-top:0px;
      border: 1px solid #ebebeb;
background: #f3f3f3;

-webkit-border-radius: 8px;
-moz-border-radius: 8px;
-ms-border-radius: 8px;
-o-border-radius: 8px;
border-radius: 8px;
    

}
.nucl1 {
    font-size:20px;
    font-weight:bold;
}
.nucl2 {
font-size:16px;
    font-weight:bold;
}
.maingm1 {
    width: 310px;
    height: auto;
    float: right;
    margin-top: 0px;
    text-align:left;
    
}
.invite {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 2.0em;
    font-weight: normal;
    padding-bottom: 0.08em;
    text-align:left;
    color:#333;
}
.p1 {
    color: #999;
    font-size: 15px;
    text-decoration: none;
    line-height: 10px;
    margin-top: -10px;
}
.pchec {
    color: #333;
    font-size: 17px;
    text-decoration: none;
    line-height: 10px;
    margin-top: 25px;
    margin-bottom:20px;
    font-weight:bold;
}
.a4 {
    color: #3cf;
    font-size: 15px;
    text-decoration: none;
}
.p2 {
    margin-top: -10px;
}
.tab
{
    
   width: 100%;
    height: auto;
    float:left;
    border:0px solid #000;
     margin-top:20px;
}
.pre2 {
    float: left;
    height: 90px;
    width: 200px;
    text-align: left;
      border:0px solid #000;
        margin-top:10px;
}
.pre3 {
    margin-top:10px;
    float: right;
    height: 90px;
    width: 780px;
    text-align: left;
      border:0px solid #000;
}
      .pre4 {
    margin-top:10px;
    float: right;
    height: 145px;
    width: 780px;
    text-align: left;
      border:0px solid #000;
} 
      /* Abhishek starts here*/
      .modalBackground1 {
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}


.validator {
    color: #FF0000;
}   


.dashboard4right {
   width: 300px;
    
  float:left;
   margin-left:30px;
    border:0px solid #000;
     margin-top:15px;
     height:80px;
     border-radius:8px;
    
}
.dashboard4left {
   width: 347px;
float: left;
margin-left: 30px;
margin-top: 30px;
height: 100px;
font-size: 13px;
}
.dashboard44left {
   width: 300px;
    
  float:right;
   margin-left:30px;
    border:1px solid #ebebeb;
     margin-top:30px;
     height:100px;
     border-radius:8px;
     background-color:rgb(243,243,243);
}
.cross44 {
   width: 70px;
    
  float:left;
  
    border:0px solid #000;
     margin-top:5px;
     height:60px;
     border-radius:8px;
     margin-left:5px;
    
}