<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=111.111.11.11;Initial Catalog=cutlinks;Integrated Security=False;User ID=cutlinks;Password=Abc@123"/>
  </connectionStrings>
  <appSettings>
    <add key="smtpserver" value="smtpout.server.net"/>
    <add key="CredentialEmail" value="notifications@example.com"/>
    <add key="CredentialEmailPass" value="Abc@123"/>
    <add key="Emailport" value="25"/>
    <add key="adminemail" value="san@example.com"/>
    <add key="consumerKey" value="W4ZQXL7YJ6ru4n70fDC3A"/>
    <add key="consumerSecret" value="GCMbuhTFCnwKpsW9OxeTlYZ4ZhygeSMT1Z3WGxsXE"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
